.main {
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
}
.blogContainer {
  /* margin: 0 auto; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: blue;
  margin: 30px 0;

  opacity: 0.5;
}
.badges {
  width: 100%;
  display: flex;
  align-items: center;
}
.category {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  margin: 15px 0;
  color: white;
  font-size: 15px;
  background-color: blue;
}
.subCategory {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  margin: 10px 5px;
  color: white;
  font-size: 15px;
  background-color: skyblue;
}
.btns {
  width: 100%;
  margin-top: 10px;
  justify-content: start;
}
.link {
  text-decoration: none;
  color: gray;
  font-size: 20px;
  margin-left: 10px;
  display: inline;
  padding: 5px;
}
.btn {
  text-decoration: none;
  color: red;
  font-size: 20px;
  margin: 0 10px;
  display: inline;
  border: none;
  background-color: white;
  /* padding: 5px; */
  transition: all 1s;
}
.btn:last-child {
  color: yellowgreen;
}
.delete:hover {
  border-bottom: 2px solid red;
}
.cover {
  width: 600px;
  height: 300px;
  border-radius: 5px;
}
.content {
  width: 620px;
  /* text-align: center; */
  margin: 10px 0 25px 0;
}
.footer {
  width: 90%;
  display: flex;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
}
.authorDiv {
  width: 200px;
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.authorDiv p {
  width: 200px;
  font-weight: bold;
  opacity: 0.5;
  margin-right: 10px;
  /* margin-bottom: 5px; */
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
@media (max-width: 760px) {
  .title {
    font-size: 25px;
  }
  .category {
    font-size: 11px;
    width: 80px;
    height: 25px;
    line-height: 25px;
  }
  .subCategory {
    font-size: 11px;
    width: 80px;
    height: 25px;
    line-height: 25px;
  }
  .cover {
    width: 400px;
  }
  .content {
    width: 420px;
  }
}
@media (max-width: 320px) {
  .main {
    width: 320px;
  }
  .btns {
    padding: 0 10px;
  }
  .link,
  .btn {
    font-size: 15px;
  }
  .btn {
    margin-left: 17px;
  }
  .blogContainer {
    padding: 0 10px;
  }
  .wordBreak {
    width: 320px;
    overflow-wrap: break-word;
  }

  .content {
    width: 320px;
    word-wrap: break-word;
  }
  .title {
    font-size: 15px;
    text-align: center;
  }
  .bcon {
    width: 100px;
    word-wrap: break-word;
  }
  .b {
    font-weight: 200;
    font-size: 15px;
    margin-right: 10px;
  }
}
