.container {
  width: 100%;
  height: 50px;
  /* background-color: gray; */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  color: white;
}
.p {
  color: gray;
  margin-right: 10px;
  font-size: 20px;
}
.btn {
  color: gray;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
}
.xmarkDiv,
.barDiv {
  display: none;
}

@media (max-width: 768px) {
  /* .container{
    position: relative;
  } */
  .xmarkDiv,
  .barDiv {
    display: block;
  }
  .barDiv {
    color: white;
    font-size: 25px;
    margin: 10px 15px 0 0;
    /* position: absolute;
    top: 10%;
    left: 1%; */
    color: gray;
  }
  .div {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    background-color: gray;
    transition: all 1s;
    transform: translateY(-100vh);
  }
  .divAppear {
    transform: translateY(0px);
  }
  .p {
    font-size: 25px;
    color: white;
  }
  .fas {
    font-size: 25px;
    color: white;
  }
  .xmark {
    font-size: 25px;
  }
  .xmarkDiv {
    margin-right: 10px;
  }
}

@media (max-width: 320px) {
  .xmarkDiv,
  .barDiv {
    display: block;
  }
  .barDiv {
    color: gray;
    font-size: 15px;
    margin: 15px 15px 0 0;
  }
  .div {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    background-color: gray;
    transition: all 1s;
    transform: translateY(-100vh);
  }
  .divAppear {
    transform: translateY(0px);
  }
  .p,
  .fas {
    font-size: 15px;
    color: white;
  }

  .xmarkDiv {
    margin-right: 10px;
  }
}
