.container {
  width: 100%;
  overflow-x: hidden;
}
.link {
  text-decoration: none;
  color: gray;
  font-size: 20px;
  margin-left: 10px;
  display: inline;
  padding: 5px;
}
.wrap {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.formControl {
  width: 600px;
}
.slide {
  margin: 5px;
  padding: 5px;
}
.label {
  display: block;
  font-size: 25px;
  margin-bottom: 5px;
}
.input {
  display: block;
  width: 100%;
  padding: 5px 3px;
  border: none;
  border-bottom: 2px solid black;
}
.input:focus {
  outline: none;
}
.btn {
  width: 100%;
  margin: 5px;
  padding: 10px 0;
  border: none;
  font-size: 15px;
}
@media (max-width: 768px) {
  .link {
    font-size: 20px;
  }
  .formControl {
    width: 400px;
  }
  .input {
    width: 748px;
  }
}
@media (max-width: 375px) {
  .link {
    font-size: 20px;
  }
  .formControl {
    width: 300px;
  }
  .input {
    width: 360px;
  }
}
@media (max-width: 320px) {
  .link {
    font-size: 15px;
  }
  .formControl {
    width: 300px;
  }
  .input {
    width: 300px;
  }
}
